body {
    background: https://png.pngtree.com/background/20230513/original/pngtree-teachers-day-apple-leaf-background-picture-image_2509130.jpg;
}

h1#site-title {
    font-size: 72px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center; 
   color: darkred;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    color: darkred;
}