body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRul2cWEjkdR8cGF11Uhc5rK98azrcSkDy-xTf4DMYQxuDrMfZzIg4Phtrhu5ivFtXnQRA&usqp=CAU);

}

h1#site-title {
    font-size: 72px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center; 
   color: darkred;
}

h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    color: darkred;
}

img#Apple-Picking {
    float: right;
    height: 10px;
    width: 10px;
}