body {
    height: 1000vh;
    width: 90%;
    height: 800px;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-image: url(https://png.pngtree.com/background/20230513/original/pngtree-teachers-day-apple-leaf-background-picture-image_2509130.jpg);
}

h1#site-title {
    font-size: 72px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center; 
   color: rgb(94, 68, 13);
}

h2 {
    font-family:'Times New Roman', Times, serif;
    text-align: center; 
    color: rgb(94, 68. 13);
}

img#Apple-Picking {
    float: right;
    height: 10px;
    width: 10px;
}